<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
  <link href="../../static/css/bootstrap-datetimepicker.min.css" rel="stylesheet"
    th:href="@{/css/bootstrap-datetimepicker.min.css}" />
  <link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <link href="../../static/css/merchant.css" rel="stylesheet" th:href="@{/css/merchant.css}" />
  <link href="../../static/css/merser-login.css" rel="stylesheet" th:href="@{/css/merser-login.css}" />
  <script src="../../static/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
  <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
  <script src="../../static/js/merchant.js" th:src="@{/js/merchant.js}"></script>
  <script src="../../static/js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
  <script src="../../static/js/jquery.poshytip.js" th:src="@{/js/jquery.poshytip.js}"></script>
  <title>修改登录密码</title>
</head>

<body>
  <!--/*@thymesVar id="mess" type="java.lang.String"*/-->
  <!--/*@thymesVar id="plainPwd" type="java.lang.String"*/-->
  <input type="hidden" value="EditPassword" id="pageTitle" />
  <div class="lpfixed-content">
    <div class="lpscrolly-content">
      <!--内容-->
      <div class="lpcontent-box">
        <!--查询-->
        <div class="lpsearch-box lpcontent-shadow">
          <div class="lppage">当前位置：用户管理&nbsp;&nbsp;&nbsp;〉&nbsp;&nbsp;&nbsp;修改登录密码</div>
          <form id="submitForm" method="post" th:action="@{/user/updatePassword}" action="">
            <div class="lpdetail-table-box">
              <table class="lpdetail-table">
                <tbody>
                  <tr>
                    <td class="lpdetail-table-name" width="160">用户名：</td>
                    <td class="lptable-gary lpborder-right-none" th:text="${#session.getAttribute('userName')}">
                      admin001</td>
                                <td class="lptable-gary lpborder-left-none" width="80"></td>
                            </tr>
                            <tr>
                                <td class="lpdetail-table-name" width="160"><span class="necessary-tips-l">*</span>原密码：
                                </td>
                                <td class="lpborder-right-none">
                                    <input type="password" class="lpsearch-input-full lpbox-sizing" name="oldPwd"
                                           id="oldPwd" onblur="checkOldPwdIsTrue()" placeholder="请输入原密码"
                                           required="required"/>
                                </td>
                                <td class="lpborder-left-none"></td>
                            </tr>
                            <tr>
                                <td class="lpdetail-table-name" width="160"><span class="necessary-tips-l">*</span>新密码：
                                </td>
                                <td class="lpborder-right-none">
                                    <input type="password" class="lpsearch-input-full lpbox-sizing" name="newPwd"
                                           id="newPwd" placeholder="请输入新密码" required="required"/>
                                </td>
                                <td class="lpborder-left-none">
                                    <div class="lpsearch-td-wranIcon" data-container="body" data-toggle="popover"
                                         data-placement="right" data-content="请输入6-32位字母数字组合"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="lpdetail-table-name" width="160"><span class="necessary-tips-l">*</span>新密码确认：
                                </td>
                                <td class="lpborder-right-none">
                                    <input type="password" class="lpsearch-input-full lpbox-sizing" name="newPwd1"
                                           id="newPwd1"
                                           onblur="checkOldPwdIsTrue()" placeholder="请输入新确认密码"
                                           required="required"/>
                                </td>
                                <td class="lpborder-left-none">
                                    <div class="lpsearch-td-wranIcon" data-container="body" data-toggle="popover"
                                         data-placement="right" data-content="请输入6-32位字母数字组合"></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <table class="lpsearch-tableBtn">
                        <tbody>
                        <tr>
                            <td width="50%">
                                <div id="submit" class="lpsearch-btn lpbg-red" onclick="editPasswordValidate()">提交</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
                <input th:type="hidden"  id="errorMessReturnResult" th:value="${mess}" />
            </div>
        </div>
<!--菜单-->
<div class="lpmenu-box lpbox-sizing">
  <div class="lpmenu-boxbg"></div>
  <table class="lpmenu-contraction">
    <tr>
      <td>
        <div class="contraction" onclick="menuBoxToggle()"></div>
      </td>
    </tr>
  </table>
  <div class="lpmenu-content-box">
    <div id="accordion" role="tablist" aria-multiselectable="true">
      <!--用户信息管理-->
      <div class="lppanel panel">
        <div class="lppanel-heading" role="tab" id="heading1ne">
          <a class="lpbox-sizing" role="button" data-toggle="collapse" data-parent="#accordion"
            href="#collapse1ne" aria-expanded="true" aria-controls="collapse1ne">
            <span class="lpmenu-icon lpmenu-icon-one"></span>
            <span class="lpmenu-title">用户信息管理</span>
            <span class="lpmenu-ui-icon-left lpmenu-ui-icon"></span>
          </a>
        </div>
        <div id="collapse1ne" class="panel-collapse collapse lppanel-collapse" role="tabpanel"
          aria-labelledby="heading1ne">
          <a href="../user/edit_password.html" th:href="@{/user/editPassword}" class="lpbox-sizing"
            lp-menu="EditPassword">修改登录密码
          </a>
          <a href="../user/list.html" th:href="@{/user/list}" class="lpbox-sizing" lp-menu="UserQuery">用户管理
          </a>
          <a href="../permission/list.html" th:href="@{/per/list}" class="lpbox-sizing"
            lp-menu="permissionQuery">权限管理
          </a>
          <a href="../role/list.html" th:href="@{/role/list}" class="lpbox-sizing" lp-menu="roleQuery">角色管理
          </a>
        </div>
      </div>
      <div class="lppanel panel">
        <div class="lppanel-heading" role="tab" id="heading2ne">
          <a class="lpbox-sizing" role="button" data-toggle="collapse" data-parent="#accordion"
            href="#collapse2ne" aria-expanded="true" aria-controls="collapse2ne">
            <span class="lpmenu-icon lpmenu-icon-xinxiguanli"></span>
            <span class="lpmenu-title">卡bin信息管理</span>
            <span class="lpmenu-ui-icon-left lpmenu-ui-icon"></span>
          </a>
        </div>
        <div id="collapse2ne" class="panel-collapse collapse lppanel-collapse" role="tabpanel"
          aria-labelledby="heading2ne">
          <a href="../cardBinType/list.html" th:href="@{/cardBin/list}" class="lpbox-sizing"
            lp-menu="CardBinQuery">卡bin信息查询
          </a>
        </div>
      </div>
      <!--数字字典维护-->
      <div class="lppanel panel">
        <div class="lppanel-heading" role="tab" id="headingFive">
          <a class="lpbox-sizing" role="button" data-toggle="collapse" data-parent="#accordion"
            href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
            <span class="lpmenu-icon lpmenu-icon-zidianweihu"></span>
            <span class="lpmenu-title">数字字典管理</span>
            <span class="lpmenu-ui-icon-left lpmenu-ui-icon"></span>
          </a>
        </div>
        <div id="collapseFive" class="panel-collapse collapse lppanel-collapse" role="tabpanel"
          aria-labelledby="headingFive">
          <a href="../dict/list.html" th:href="@{/dict/list}" class="lpbox-sizing" lp-menu="DictItemQuery">数字字典查询
          </a>
        </div>
      </div>
      <!--商户信息维护-->
      <div class="lppanel panel">
        <div class="lppanel-heading" role="tab" id="headingSix">
          <a class="lpbox-sizing" role="button" data-toggle="collapse" data-parent="#accordion"
            href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
            <span class="lpmenu-icon lpmenu-icon-xinxiweihu"></span>
            <span class="lpmenu-title">商户信息管理</span>
            <span class="lpmenu-ui-icon-left lpmenu-ui-icon"></span>
          </a>
        </div>
        <div id="collapseSix" class="panel-collapse collapse lppanel-collapse" role="tabpanel"
          aria-labelledby="headingSix">
          <a href="../mer/list.html" th:href="@{/mer/list}" class="lpbox-sizing" lp-menu="MerQuery">商户信息查询
          </a>
        </div>
      </div>
      <!--URL生成工具-->
      <div class="lppanel panel">
        <div class="lppanel-heading" role="tab" id="headingSeven">
          <a class="lpbox-sizing" role="button" data-toggle="collapse" data-parent="#accordion"
            href="#collapseSeven" aria-expanded="true" aria-controls="collapseFive">
            <span class="lpmenu-icon lpmenu-icon-url"></span>
            <span class="lpmenu-title">URL生成工具</span>
            <span class="lpmenu-ui-icon-left lpmenu-ui-icon"></span>
          </a>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse lppanel-collapse" role="tabpanel"
          aria-labelledby="headingFive">
          <a href="../urlTool/url_tool.html" th:href="@{/urlTool/urlBuilder}" class="lpbox-sizing"
            lp-menu="UrlBuilder">URL生成工具
          </a>
        </div>
      </div>
      <!--二级菜单维护-->
      <div class="lppanel panel">
        <div class="lppanel-heading" role="tab" id="headingEight">
          <a class="lpbox-sizing" role="button" data-toggle="collapse" data-parent="#accordion"
            href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
            <span class="lpmenu-icon lpmenu-icon-menuMaintenance"></span>
            <span class="lpmenu-title">二级菜单维护</span>
            <span class="lpmenu-ui-icon-left lpmenu-ui-icon"></span>
          </a>
        </div>
        <div id="collapseEight" class="panel-collapse collapse lppanel-collapse" role="tabpanel"
          aria-labelledby="headingEight">
          <a href="../menuMaintenance/list.html" th:href="@{/menuMaintenance/list}" class="lpbox-sizing"
            lp-menu="MenuMaintenance">二级菜单维护
          </a>
        </div>
      </div>
      <!--商户链接维护-->
      <div class="lppanel panel">
        <div class="lppanel-heading" role="tab" id="headingNine">
          <a class="lpbox-sizing" role="button" data-toggle="collapse" data-parent="#accordion"
            href="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
            <span class="lpmenu-icon lpmenu-icon-merLink"></span>
            <span class="lpmenu-title">商户链接维护</span>
            <span class="lpmenu-ui-icon-left lpmenu-ui-icon"></span>
          </a>
        </div>
        <div id="collapseNine" class="panel-collapse collapse lppanel-collapse" role="tabpanel"
          aria-labelledby="headingNine">
          <a href="../merLink/list.html" th:href="@{/merLink/list}" class="lpbox-sizing" lp-menu="MerLink">商户链接维护
          </a>
        </div>
      </div>
      <!--栏目管理-->
      <div class="lppanel panel">
        <div class="lppanel-heading" role="tab" id="headingEleven">
          <a class="lpbox-sizing" role="button" data-toggle="collapse" data-parent="#accordion"
            href="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
            <span class="lpmenu-icon lpmenu-icon-column"></span>
            <span class="lpmenu-title">栏目管理</span>
            <span class="lpmenu-ui-icon-left lpmenu-ui-icon"></span>
          </a>
        </div>
        <div id="collapseEleven" class="panel-collapse collapse lppanel-collapse" role="tabpanel"
          aria-labelledby="headingEleven">
          <a href="../column/list.html" th:href="@{/column/list}" class="lpbox-sizing" lp-menu="Column">栏目管理
          </a>
        </div>
      </div>
      <!--静态资源维护-->
      <div class="lppanel panel">
        <div class="lppanel-heading" role="tab" id="headingTwelve">
          <a class="lpbox-sizing" role="button" data-toggle="collapse" data-parent="#accordion"
            href="#collapseTwelve" aria-expanded="true" aria-controls="collapseTwelve">
            <span class="lpmenu-icon lpmenu-icon-staticResource"></span>
            <span class="lpmenu-title">静态资源维护</span>
            <span class="lpmenu-ui-icon-left lpmenu-ui-icon"></span>
          </a>
        </div>
        <div id="collapseTwelve" class="panel-collapse collapse lppanel-collapse" role="tabpanel"
          aria-labelledby="headingTwelve">
          <a href="../staticResource/list.html" th:href="@{/staticResource/list}" class="lpbox-sizing"
            lp-menu="StaticResource">静态资源维护
          </a>
        </div>
      </div>
      <!--文章管理-->
      <div class="lppanel panel">
        <div class="lppanel-heading" role="tab" id="headingThirteen">
          <a class="lpbox-sizing" role="button" data-toggle="collapse" data-parent="#accordion"
            href="#collapseThirteen" aria-expanded="true" aria-controls="collapseThirteen">
            <span class="lpmenu-icon lpmenu-icon-article"></span>
            <span class="lpmenu-title">文章管理</span>
            <span class="lpmenu-ui-icon-left lpmenu-ui-icon"></span>
          </a>
        </div>
        <div id="collapseThirteen" class="panel-collapse collapse lppanel-collapse" role="tabpanel"
          aria-labelledby="headingThirteen">
          <a href="../article/list.html" th:href="@{/article/list}" class="lpbox-sizing" lp-menu="Article">文章管理
          </a>
        </div>
      </div>
      <!--菜单图片信息管理-->
      <div class="lppanel panel">
        <div class="lppanel-heading" role="tab" id="headingFourteen">
          <a class="lpbox-sizing" role="button" data-toggle="collapse" data-parent="#accordion"
            href="#collapseFourteen" aria-expanded="true" aria-controls="collapseFourteen">
            <span class="lpmenu-icon lpmenu-icon-menuPicture"></span>
            <span class="lpmenu-title">菜单图片信息管理</span>
            <span class="lpmenu-ui-icon-left lpmenu-ui-icon"></span>
          </a>
        </div>
        <div id="collapseFourteen" class="panel-collapse collapse lppanel-collapse" role="tabpanel"
          aria-labelledby="headingFourteen">
          <a href="../menuPicture/list.html" th:href="@{/menuPicture/list}" class="lpbox-sizing"
            lp-menu="MenuPicture">菜单图片信息管理
          </a>
        </div>
      </div>
      <!--首页业务介绍-->
      <div class="lppanel panel">
        <div class="lppanel-heading" role="tab" id="headingFifteen">
          <a class="lpbox-sizing" role="button" data-toggle="collapse" data-parent="#accordion"
            href="#collapseFifteen" aria-expanded="true" aria-controls="collapseFifteen">
            <span class="lpmenu-icon lpmenu-icon-homeBusiness"></span>
            <span class="lpmenu-title">首页业务介绍</span>
            <span class="lpmenu-ui-icon-left lpmenu-ui-icon"></span>
          </a>
        </div>
        <div id="collapseFifteen" class="panel-collapse collapse lppanel-collapse" role="tabpanel"
          aria-labelledby="headingFifteen">
          <a href="../homeBusiness/list.html" th:href="@{/homeBusiness/list}" class="lpbox-sizing"
            lp-menu="HomeBusiness">首页业务介绍
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>
</div>


<!--mian头header-->
<div class="lpheader-box lpshadow-down lpbox-sizing">
  <a href="../layout/welcome.html" class="lplogo lppull-left">首旅管理端</a>
  <div class="lppull-right  lpheader-right">
    <div class="lpexit-box lppull-right">
      <a href="../login/login.html" title="退出"></a>
    </div>
    <div class="lpheader-text-box lppull-right">
      <div class="lppull-right lpheader-text" title="用户名">
        <span class="lppull-left">用户名：</span>
        <span>admin001</span>
      </div>
    </div>
  </div>
</div>
<!-- loading -->
<div>
  <div id="LoadingBlack" class="modal fade hide" style="border:none;padding:0;" tabindex="-1" role="dialog"
    backdrop="true" aria-hidden="true"></div>
  <img id="Loading" class="loading" src="../../static/images/Merchant/loading.gif" />
</div>
<!-- saveresult -->
<div>
  <!--提示保存成功-->
  <div class="lpoperate-tipbox" id="lpsearchOperateSuccess">
      <div class="lpoperate-tip-icon lpsearch-operate-success"></div>
      <div class="lpoperate-tip-text lpcolor-blue">保存成功</div>
      <!--<div class="lpoperate-tip-jumpBox" id="lpsearchOperateSuccessJump">还有&nbsp;<span class="lpcolor-yellow"-->
                                                                                       <!--id="jumpSec">5</span>&nbsp;秒将<a-->
              <!--class="lpoperate-tip-jump lpcolor-red" href="detail.html">&nbsp;跳转&nbsp;</a>到详情页面-->
      <!--</div>-->
  </div>
  <!--提示保存失败-->
  <div class="lpoperate-tipbox" id="lpsearchOperateFail">
      <div class="lpoperate-tip-icon lpsearch-operate-error"></div>
      <div class="lpoperate-tip-text lpcolor-red">保存失败</div>
  </div>
  <!--提示信息我知道了-->
  <div class="modal fade " id="commonWarn" tabindex="-1" role="dialog" aria-labelledby="commonWarn" backdrop="true"
       aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
              <div class="modal-header lpmodal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4>提示</h4>
              </div>
              <div class="modal-body">
                  <div class="commonWarnText" id="commonWarnText"></div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="lpsearch-btn lpbg-red lpmargin-auto lplogin-btn" data-dismiss="modal"
                          id="commonWarnYes">我知道了
                  </button>
              </div>
          </div>
      </div>
  </div>
  <!--确认是否操作-->
  <div class="modal fade " id="confirmWarn" tabindex="-1" role="dialog" aria-labelledby="commonWarn" backdrop="true"
       aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
              <div class="modal-header lpmodal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4>提示</h4>
              </div>
              <div class="modal-body">
                  <div class="commonWarnText" id="confirmWarnText"></div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="lpsearch-btn lpbg-yellow lppull-left" data-dismiss="modal">取消</button>
                  <button type="button" class="lpsearch-btn lpbg-red lppull-right" data-dismiss="modal"
                          id="confirmWarnYes">确定
                  </button>
              </div>
          </div>
      </div>
  </div>
</div>
<script>
  $(function () {
    contentWith();
    menuFun();
    queryListReturnResult();
  });
  $(window).resize(function () {
    contentWith();
  });

  var objOldPwd = $('#oldPwd');
  var objNewPwd = $('#newPwd');
  var objNewPwd1 = $('#newPwd1');

  function checkOldPwdIsTrue() {
    var oldPwd = $('#oldPwd').val();
    if (oldPwd != "111111") {
      errorClassShow(objOldPwd, "原密码输入不正确!");
    }
  }

  function editPasswordValidate() {
    $('#id_div').val('');
    var onSubmit = true;
    var oldPwd = objOldPwd.val();
    var newPwd = objNewPwd.val();
    var newPwd1 = objNewPwd1.val();
    var reg = /^(([a-z]+[0-9]+)|([0-9]+[a-z]+))[a-z0-9]*$/i;
    if (oldPwd === "" || oldPwd == null) {
      errorClassShow(objOldPwd, "原密码不能为空!");
      return;
    }
    if (oldPwd != "111111") {
      errorClassShow(objOldPwd, "原密码输入不正确!");
    }
    if (newPwd == null || newPwd === "") {
      errorClassShow(objNewPwd, "新密码不能为空!");
      return;
    }
    if (newPwd.length < 6 || newPwd.length > 32) {
      errorClassShow(objNewPwd, "密码长度6-32位字符");
      return;
    }
    if (!reg.test(newPwd)) {
      errorClassShow(objNewPwd, "密码必须为字母数字组合!");
      return;
    }
    if (newPwd1 == null || newPwd1 === "") {
      errorClassShow(objNewPwd1, "新密码确认不能为空!");
      return;
    }
    if (newPwd === oldPwd) {
      errorClassShow(objNewPwd, "新密码不能与旧密码一致!");
      return;
    }
    if (newPwd !== newPwd1) {
      errorClassShow(objNewPwd1, "新密码确认与新密码不一致!");
      return;
    }

    if (onSubmit) {
      $("#confirmWarn").modal('show');
      $('#confirmWarnText').text("确定执行[修改密码]操作?");
      $("#confirmWarnYes").attr("onclick", "confirwarYesSave()");
    }
  }

  function confirwarYesSave() {
    //提交表单
    var form = $("#submitForm");

    $('#LoadingBlack').modal('show');
    $('#Loading').show();
    setTimeout(() => {
      $('#LoadingBlack').modal('hide');
      $('#Loading').hide();
      window.location.href = "../login/login.html";
    }, 1000);
  }

  function errorClassShow(obj, content) {
    obj.poshytip('show');
    obj.poshytip('update', content);
  }

</script>
</body>
</html>